{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Goku</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum consequuntur, harum quibusdam iste corporis quo veritatis odit et possimus ad nisi nulla repudiandae! Sapiente quaerat accusamus sit quidem reprehenderit deserunt.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/goku.png" class="img-thumbnail">

    </div>
</div>

{{>footer}}